@charset "UTF-8";
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.uppercase{
	text-transform: uppercase;
}
%main-sprite{
  @include retina-image("../images/main-sprite", 600px 600px);
  background-repeat:no-repeat;
  display: inline-block;
  *display: inline;
}
%image-replace {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}